<nav class="navbar navbar-expand-lg navbar-dark bg-dark top-bar fixed" >
  <a class="navbar-brand" href="#">*logo*</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/AboutUs">About Us</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <button class="btn btn-outline-primary active  my-sm-3" type="submit" [routerLink]="['/login']">LOGIN</button>
      <button class="btn btn-outline-info  my-sm-3" type="submit">SIGN UP</button>
    </ul>
  </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
          <br>
          <br>
          <br>
            <p>
              Sometimes, whenever I eat M&Ms, I like to hold two m&m's in between my fingers and squeeze as hard as I can until one m&m cracks. I eat the cracked one, and the one that didn't crack becomes the champion. Then I grab the other m&m, and force it to compete with the champion in this deadly game of m&m gladiators. I do this until I run out of m&m's, and when there is only one m&m left standing, I send a letter to m&m's brand with the champion m&m in it with a note attached that reads: "Please use this m&m for breeding purposes."
            </p>
            <p>
              Sometimes, whenever I eat M&Ms, I like to hold two m&m's in between my fingers and squeeze as hard as I can until one m&m cracks. I eat the cracked one, and the one that didn't crack becomes the champion. Then I grab the other m&m, and force it to compete with the champion in this deadly game of m&m gladiators. I do this until I run out of m&m's, and when there is only one m&m left standing, I send a letter to m&m's brand with the champion m&m in it with a note attached that reads: "Please use this m&m for breeding purposes."
            </p>
            <p>
              Sometimes, whenever I eat M&Ms, I like to hold two m&m's in between my fingers and squeeze as hard as I can until one m&m cracks. I eat the cracked one, and the one that didn't crack becomes the champion. Then I grab the other m&m, and force it to compete with the champion in this deadly game of m&m gladiators. I do this until I run out of m&m's, and when there is only one m&m left standing, I send a letter to m&m's brand with the champion m&m in it with a note attached that reads: "Please use this m&m for breeding purposes."
            </p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>